@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Transacciones</h1>
</div>

    <a class="nav-link text-dark" asp-area="" asp-controller="Transaction" asp-action="New">Create</a>

